
.inputcontainer {
  position: relative; /* Set position relative for the container */
  display: flex;
  align-items: center; /* Align icon vertically */
}

.input {
  flex: 1;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%; /* Position the icon vertically at the center of the container */
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%); /* Move the icon up by half of its height */
  width: 20px; /* Set icon width */
  height: 20px; /* Set icon height */
}



.notification {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  width: auto;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  transition: top 0.5s ease;
  animation: noti 5s ease forwards;
}

.show {
  visibility: visible;
}


.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  border-radius: 50px;
  width: 100%;
  background-color: hsl(63, 0%, 100%);
  animation: fillBar 5s ease forwards;
}

.disabled {
  opacity: 0.5; /* Dim the inputs */
  pointer-events: none; /* Disable pointer events */
}

.but[disabled] {
  cursor: not-allowed; /* Change cursor style of disabled button */
}
.but {
  display: grid;
  place-content: center;
}




.btnn {
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btnwhite {
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btnn {
  border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
}

.btnwhite {
  border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    color: black;
}

.btnn:after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btnwhite:after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btnn:hover {
    color: rgb(0, 0, 0);
}

.btnwhite:hover {
    color: rgb(255, 255, 255);
}

.btnn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btnwhite:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btnn:active {
    top: 2px;
}

.btnwhite:active {
    top: 2px;
}




@keyframes fillBar {
  0% {
    width: 100%; 
  }
  100% {
    width: 0%;
  }
}

@keyframes noti {
  0% {
    top: 0px; 
  }
  20% {
    top: 190px; 
  }
  25% {
    top: 179px; 
  }
  40% {
    top: 179px; 
  }
  80% {
    top: 179px; 
  }
  100% {
    top: -10px;
  }
}