.navcontainer {
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    height: 112px;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 4;
}

.Logo {
    width: 120px;
    border-radius: 20px;
}

.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

.header1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: hsl(0, 0%, 14%);
    z-index: 1;
}

.paragraph1 {
    color: white;
    text-align: center;
    height: 32px;
    line-height: 32px;
}

.btnhover {
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btnhover {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
}

.btnhover:after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.btnhover:hover {
    color: rgb(0, 0, 0);
}

.btnhover:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btnhover:active {
    top: 2px;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}
